* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  padding: 1rem;
  background-color: #e1b3b3;
}

main {
  display: grid;
  grid-template-columns: 1fr 30ch;
  gap: 2rem;
  background-color: #4c7d58;
  border-radius: 1rem;
}

ul {
  list-style: none;
}

button {
  padding: 0.25rem;
}

button:hover {
  cursor: pointer;
}

.title {
  text-align: center;
}

@media (width <= 500px) {
  body {
    display: grid;
    justify-content: space-between;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}
